@import '../../responsive/variables';

.services {
    margin: 50px 0px;
    
    .change-color {    
        &:hover {
            .outer_box {
                background-color: $color3;
            }
        }
    }

    .service-icon {
        display: flex;
        justify-content: center;

        .outer_box {
            width: 100px;
            height: 100px;
            border-radius: 50px;
            display: flex;
            justify-content: center;
            align-items: center;
            transition: 0.1s;
            

            .inner_box {
                border: 1px solid rgba(255,255,255,0.5);
                padding: 15px;
                border-radius: 50px;
            }
        }

        .delivery-color {
            background-color: #e4b2d6
        }

        .fresh-color {
            background-color: #dcc698;
        }

        .quality-color {
            background-color: #a2d1e1;
        }
    }

    .service-content {
        text-align: center;

        .tit-text {
            font-weight: 500;
            font-size: 15px;
            margin: 10px 0px;
        }

        .des-text {
            font-size: 13px;
        }
    }
}