@import "../../responsive/_mixin.scss";
@import '../../responsive/variables';
.form__group {
	position: relative;
	padding: 15px 0 0;
	margin-top: 12px;
	width: 50%;
}

.form__field {
	font-family: inherit;

	border: 0;
	border-bottom: 2px solid #9b9b9b;
	outline: 0;
	font-size: 1.3rem;
	color: black;
	padding: 7px 0;
	background: transparent;
	transition: border-color 0.2s;

	&::placeholder {
		color: transparent;
	}

	&:placeholder-shown ~ .form__label {
		font-size: 1.3rem;
		cursor: text;
		top: 20px;
	}
}

.form__label {
	position: absolute;
	top: 0;
	display: block;
	transition: 0.2s;
	font-size: 15px;
	color: $color1;
}

.form__field:focus {
  ~ .form__label {
    position: absolute;
    top: 0;
    display: block;
    transition: 0.2s;
    font-size: 15px;
    color: $color5;
    font-weight: 700;
  }
  padding-bottom: 6px;

  border-width: 3px;
  border-image: linear-gradient(to right, #020706, #2a2c2b);
  border-image-slice: 1;
}
/* reset input */
.form__field {
	&:required,
	&:invalid {
		box-shadow: none;
	}
}
.modal-body {
	align-self: center;
}
.modal-edit {
	margin-top: 7%;
}
.input-edit-file {
	margin-top: 5%;
	font: -webkit-small-control;
}
.btn-edit-account {
  min-inline-size: -webkit-fill-available;
  display: block;
  width: 100%;
  height: 50px;
  border-radius: 5px;
  outline: none;
  border: 1px solid black;
  background-color: $color1;
  background-size: 200%;
  font-size: 1.2rem;
  color: #fff;
  font-family: 'Poppins', sans-serif;
  text-transform: uppercase;
  margin: 1rem 0;
  cursor: pointer;
  transition: .2s;
}
.btn-edit-account:hover {
  color: $color1;
  background-color: $color6;
}

@include respond(phone) {
	.modal-edit {
		margin-top: 28%;
	}
}
	

