@import '../../responsive/variables';

.order-table {
    overflow-x: auto;

    .head {
        text-align: center;
        color: $color6;
        background-color: $color3;
    }

    tr.hide-table-padding td {
        padding: 0;
    }
    .expand-button {
        position: relative;
    }
    
    .accordion-toggle .expand-button:after
    {
        position: absolute;
        left:.75rem;
        top: 50%;
        transform: translate(0, -50%);
        content: '-';
        font-size: 20px;
    }
    .accordion-toggle.collapsed .expand-button:after{
        content: '+';
        font-size: 20px;
    }

    .table_inner .show {
        width: 100%;
        background-color: white;
    }

    .icon_ind {
        font-size: 20px;
        position: absolute;
        left: 50%;
    }

    .order_img {
        width: 100%;
        height: 300px;

        .order_img_inner {
            width: auto;
            height: 100%;
        }
    }

    .refund_btn {
        background-color: black; 
        font-weight: 500;
        color: white;
        border: 1px solid black;
        margin-top: 2px;
        transition: 0.2s;

        &:hover {
            background-color: white;
            color: black;
        }
    }

    // table ,tr td{
    //     border:1px solid red
    // }
    // tbody {
    //     display:block;
    //     height: 300px;
    //     overflow:auto;
    // }
    // thead, tbody tr {
    //     display:table;
    //     width:100%;
    //     table-layout:fixed;
    // }
    // thead {
    //     width: calc( 100% - 1em )
    // }
    // table {
    //     width:100%;
    // }

    // tbody {
    //     height: 100px;
    //     overflow: auto;
    // }
}