@import '../../responsive/variables';
@import '../../responsive/mixin';

.addAddress {
    
    .address {
        color: $color6;
        background-color: $color4;
        padding: 5px 20px;
        border: 1px solid $color4;
        border-radius: 3px;
    }
    
    .drop_contain {
        // border: 1px solid rgba(0, 0, 0, 0.1);
        // padding: 20px 15px;
        display: flex;
        align-items: center;
        background-color: #f0ffe9;
        border-radius: 10px;
        max-height: 0;
        overflow-y: hidden;
        transition: max-height 0.3s ease-out;
    }

    .btn_address {
        color: $color6;
        background-color: $color4;
        padding: 5px 20px;
        border: 1px solid $color4;
        border-radius: 3px;
    }

    .input {
        margin-bottom: 10px;
    }

    .input-feedback {
        color: red;
    }
}